extends layout

block content
   h1= title
   -  let vechiles=[{vechilename:"Audi",model:"A8",classification:"sports",price:50000},{vechilename:"Lambogini",model:"s6",classification:"sports",price:80000},{vechilename:"BMW",model:"500d",classification:"sports",price:25000}]
   div(class="container-fluid mt-3")
   div(class="row")
    each vechile,index in vechiles
         div(class="col-sm-4 bg-info m-1 p-3" style=("font-weight:bolder")  onclick=`buy(${index})`) #{vechiles.vechilename} - #{vechiles.model} - #{vechiles.classification} - #{vechiles.price}
   script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }


     